{% extends 'base.html' %}
 
{% block header %}
<div class="jumbotron jumbotron-fluid div_top">
  <div class="container">
    <h1 class="display-4">TodoList</h1>
    <p class="lead">TodoListを作成し、計画的に！</p>
    <a href="{% url 'create' %}" class="btn btn-primary mb-2" tabindex="-1" role="button" aria-disabled="true">新規作成</a>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-light border-{{ item.priority }} text-{{ item.priority }} border_weight" role="alert">
        <div>
          <h2>{{ item.title }}</h2>
          <h5>Deadline：{{item.duedate | date:"o/n/j" }}</h5>
        </div>
        <a href="{% url 'update' item.pk %}" class="btn btn-light border-dark" tabindex="-1" role="button" aria-disabled="true">編集画面へ</a>
        <a href="{% url 'delete' item.pk %}" class="btn btn-light border-dark" tabindex="-1" role="button" aria-disabled="true">削除画面へ</a>
        <a href="{% url 'detail' item.pk %}" class="btn btn-light border-dark" tabindex="-1" role="button" aria-disabled="true">詳細画面へ</a>
    </div>
    {% comment %} <div class="alert alert-success" role="alert">
        {{ item.memo }}
    </div> {% endcomment %}
    {% endfor %}
</div>
{% endblock content %}